.app {
  font-family: "Comic Sans MS", sans-serif;
  background: linear-gradient(#f4e9dc, #e8d8c3);
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {

  font-family: cursive;
  text-shadow: 2px 2px 0px #8d5524,
               4px 4px 10px rgba(0,0,0,0.4);
  letter-spacing: 1px;
  background-color: #a65f3c;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  width: 800px;
}

.box {
  background-color: #fffaf3;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  width: 800px;
}

.tip-item {
  margin-bottom: 15px;
}

.circle-btn {
  background-color: #ecd5c5;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.circle-btn:hover {
  background-color: #c97b36;
  color: white;
}

.detalle {
  margin-left: 40px;
  color: #7f5539;
}

.footer {
  margin-top: 20px;
  color: #7f5539;
  font-weight: bold;
}